@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
      
        @if (user != null)
        {
            
                <a href="/Profile" class="ml-md-auto"><img src=@user style="height:40px;width:40px;border-radius:50%" /></a>
      
        }
    </div>
   
    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    @inject Blazored.SessionStorage.ISessionStorageService sessionStorage
    private string user;

         protected override async Task OnInitializedAsync()
    {

      
        var data = await sessionStorage.GetItemAsync<string>("UserName");
      user = data;

    }
}
