@page "/AddWebsiteDetails"
@layout MainLayout


    <section class="wizard-section">
        <div class="row no-gutters">

            <div class="col-lg-6 col-md-6">
                <div class="form-wizard">
                    <form action="" method="post" role="form">
                       
                        <fieldset class="wizard-fieldset show">
                            <h5>Personal Information</h5>
                            <div class="form-group">
                                <input type="text" class="form-control wizard-required" id="pname" placeholder="Name*">
                             
                                <div class="wizard-form-error"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control wizard-required" id="pname" placeholder="Website Link*">
                               <div class="wizard-form-error"></div>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control wizard-required" id="DOB" placeholder="Logo*">
                                <div class="wizard-form-error"></div>
                            </div>
                            <div class="form-group clearfix">
                               <input type="submit" value="Save" class="form-control"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>


 


@code {

}
